.App {
  
}

.avatar {
  width: 30%;
  height: 0;
  padding-bottom: 30%;
}

.avatar-base {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.avatar-hair {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.avatar-outfit {
  position: absolute;
  width: 100%;
  z-index: 3;
}

.shop-item {
  width: 20%;
}

button {
  position: fixed;
  top: 0;
  z-index: 99;
}
