.App {
  
}

.avatar {
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  position: sticky;
  right: 0;
}

.avatar-base {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.avatar-hair {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.avatar-outfit {
  position: absolute;
  width: 100%;
  z-index: 3;
}

.shop-item {
  width: 20%;
}

.inventory {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.inv-item {
  width: 15vw;
}

button {
  z-index: 99;
}
